
.transactions-table {
  padding: 20px;

  table {
    background: #fff;
    color: #34495E;
    border: 1px solid #0D2A43;
  }

  .btn {
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid #dbdedf;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    display: inline-block;
    box-shadow: none;
    background: none;
    color: #fff;
  }

  .btn:not(:disabled):hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .btn:not(:disabled):active {
    background: #fff;
    color: #34495E;
  }

  .btn:disabled {
    opacity: 0.6;
    cursor: default;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    //border-collapse: collapse;
    overflow: hidden;
    //background-color: tomato;
  }

  tbody tr:first-child {
    border: none;
  }

  thead tr {
    background: rgba(13, 42, 67, 0.6);
    color: #fff;
  }

  th:nth-child(even) {
    background: rgba(13, 42, 67, 0.7);
  }

  tr {
    border-top: 1px solid #ddd;
  }


  td, th {
    padding: 10px;

    text-align: right;
    position: relative;
  }

  /*Выравнивание описания*/
  td:nth-child(7) {
    text-align: left;
    overflow: auto;
    white-space: nowrap;
    max-width: 800px;

    div {
      width: fit-content;
      block-size: fit-content;
    }
  }

  td {
    //font-weight: bold;
    border-right: 1px solid #ddd;
    white-space: nowrap;
  }

  .dt-buttons {
    float: right;
    margin-left: 20px;
  }


  th {
    text-align: center;
  }

  .dataTables_wrapper {
    .dataTables_length, .dataTables_filter {
      margin-bottom: 20px;

      label, input {
        color: white;
      }
    }

    .dataTables_info, .dataTables_paginate a.paginate_button {
      color: white !important;
    }

    .dataTables_paginate a.paginate_button.current {

      color: black !important;
    }
  }


  .switch__label:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
  }

  .switch {
    display: flex;
    justify-content: flex-start;
  }

  .switch__input:checked + .switch__label:before {
    left: auto;
    right: -1px;
  }

  .switch__input-wrap {
    position: relative;
    overflow: hidden;
    padding: 0 10px;
  }

  .switch__input {
    position: absolute;
    top: 0;
    left: -100px;
  }

  .switch__param {
    white-space: nowrap;
  }


  select {
    background: none;
    color: #fff;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
  }

  option {
    color: #34495E;
  }

  .stock-block__head-column {
    display: flex;
    justify-content: flex-start;
  }

  .stock-block__head-column div {
    padding: 0 20px;
  }

  /*

  .category-tr {
      background: #e5feed;
  }

  .category-tr td:not(first) {
      font-weight: bold;
  }

  */
  .sub-category-tr {
    background: #e6f3fc;
  }

  .product-tr:not(.product-wo-category-tr) {
    background: #12395b;
    color: #fff;
  }

  tr.expandable td:first-child {
    cursor: pointer;

  }

  .cell-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-link {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-width: 6px;
      border-style: solid;
      border-color: #34495E transparent transparent transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -6px;
      margin-top: -3px;
    }
  }

  .dropdown-link.opened:before {
    border-color: transparent transparent #34495E transparent;
    margin-top: -9px;
  }

  .product-tr.even:not(.product-wo-category-tr) td {
    background: #6a849b !important;
  }

  .sub-category-tr.even td {
    background: rgba(53, 105, 216, 0.1) !important;
  }

  .category-tr.even td, .product-wo-category-tr.even td {
    background: rgba(66, 114, 215, 0.1) !important;
  }

  .product-input {
    display: none;
    margin-left: 10px;
  }

  .sub, .add {
    cursor: pointer;
  }

  .product-input-field {

    width: 50px;
  }

  .show-product-input {
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      /*color: transparent;
      text-shadow: 0 0 0 white;
      background: dodgerblue;*/

    }
  }

}