.idea
vendor/
.env
*.log
*.css
*.zip
*.txt
*.lock
dploy.yaml
node_modules/
public/css
/config/config.php.nika
/storage/nikacrm/
/err.html
composer.lock
/examples

/integra/config/prod/*
/integra/config/backups/
/integra/config/prod/
/integra/config/.cache/local.cache.json
