<div class="stock-block">

    <div class="stock-block__head">
        <div class="stock-block__title">Движение товаров. Склад. Производство</div>
    </div>
    <div class="login-block">
        {{ loginBlock|raw }}

    </div>

    <div class="stock-block__content"></div>

</div>

<div class="stock-data" style="display: none;">{{ stock_data }}</div>
<div class="stock-stages" style="display: none;">{{ stock_stages }}</div>
<div class="stock-roles" style="display: none;" data-roles="{{ roles }}"></div>