<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>🧐 Администрация движение товаров. Склад. Производство</title>
    <link href="{{ publicFolder }}/css/app.min.css?ver=1.2.17" rel="stylesheet">
</head>
<body data-script-folder="{{ scriptFolder }}">
<div class="content">
    <div class="stock-block__title">🧐 Администрация движение товаров. Склад. Производство</div>
    <div class="loading-block">
        <div class="loading">
            <div class="loading__description">Подождите, идет загрузка данных</div>
            <div class="loading__loader">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ publicFolder }}/js/vendor/jquery.min.js"></script>
<script type="module" src="{{ publicFolder }}/js/admin_app.js?ver=1.2.36"></script>
</body>
</html>