<div class="stock-block">

    <div class="stock-block__head">
        <div class="stock-block__title">🧐 Администрация движение товаров. Склад. Производство</div>
    </div>

    <div class="stock-block__content"></div>

</div>

<div class="stock-data" style="display: none;">{{ stock_data }}</div>
<div class="stock-stages" style="display: none;">{{ stock_stages }}</div>